body{
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.type{
    height: 35px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color:white;
    color:black;

}
.button{
    background-color: green;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 10px;
}
.order{
    text-align: center;
}